<h3>Legend</h3>
<div class="narrow">
    <p><span class="terms"><span class="diff_n">3</span>d<sup>10</sup></span> Different electron shell (n)</p>
    <p><span class="terms">3</span>d<sup><span class="diff_count">10</span></sup> Different electron count</p>
    <p><span class="terms new_orbital ec_3d">3d<sup>10</sup></span> New term (orbital)</p>
</div>