<% @ec_class = "narrow" #in pt_element.erb, specify electron config style: small text so can fit in table %>

<% period_header = 0 # labels for periods %>
<% @link = Hash["type" => 'group'] %>

<table>
	<tr>
		<th>Group</th>
		<% #for group_header in 1..@max_group do %>
		<% @main_groups.each do |group_header| %>
			<th>
				<% # if group_header == 1 %> Group <% # end %>
				<%= erb :group_link_generator, :locals=> {:linear_group => group_header} %>
			</th>
		<% end %>
	</tr>
<% @ebyp.each do |period| %>
	<% period_header += 1 #increment the period number in preparation for next period %>
	<% lastGroup = 0 %>
	<tr>
		<th class="period_header">
			<% if period_header == 1 %> Period<br> <% end %>
			<%= erb :link_generator, :locals=> {:link => Hash["type" => 'period','number'=>period_header]} %>			
				<% @base = Base.all(:id => period_header)[0].base %>
		</th>
		<% period.each do |element| %>
			<% blanks = element.group - lastGroup - 1 %>
			<% if not @main_groups.include? element.group %>
				<% blanks = 0 %>
				<% lastGroup += 1 %>	
				<% next %>
			<% end %>
			<% while blanks > 0 %>
				<td></td>
				<% blanks = blanks - 1 %>
			<% end %>
			<td class="inPTable">
				<% @element = element %>
				<%= erb :pt_element %>
				<% if element.group == @main_pauses_group %>
					<% lastGroup = @main_resumes_group-1 %>
				<% else %>
					<% lastGroup = element.group %>
				<% end %>
			</td>
		<% end %>
 	 </tr>
<% end %> 
</table>