<!doctype html>  
<html lang="en">  
<head>  
	<meta charset="utf8">  
	<title><%= "#{@title} | #{SITE_TITLE}" %></title>    
	<link href="/reset.css" rel="stylesheet">  
	<link href="/style.css" rel="stylesheet">
	
</head>  
<body>  
	<header>  
		<hgroup>  
			<h1><a href="/"><%= SITE_TITLE %></a></h1>  
			<h2><%= SITE_DESCRIPTION %></h2>  
		</hgroup>  
	</header>  
      
	<div id="main">  
		<%= yield %>  
	</div>  
      
	<h3>Legend</h3>
	<div class="narrow">
		<p><span class="terms"><span class="diff_n">3</span>d<sup>10</sup></span> Different electron shell (n)</p>
		<p><span class="terms">3</span>d<sup><span class="diff_count">10</span></sup> Different electron count</p>
		<p><span class="terms new_orbital ec_3d">3d<sup>10</sup></span> New term (orbital)</p>
	</div>

	<footer>
		<p>© 2021 <a href="https://www.linkedin.com/in/jemonat/" title="LinkedIn profile" target="_blank">Jeremy Monat</a>.</p>
		<p>Element data is from <a href="http://en.wikipedia.org/wiki/List_of_elements" title="Wikipedia">Wikipedia</a>.</p>
	</footer>  
</body>  
</html>  