    body {  
        /*margin: 10px auto;  */
        margin-left: 10px;
        /*width: 640px;  */
    }  

	sup {
		vertical-align:25%;
	}
 
    header {  
        text-align: center;  
        margin: 0 0 20px;  
    }  
      
    header h1 {  
        display: inline;  
        font-size: 32px;  
    }  
      
    header h1 a:link, header h1 a:visited {  
        color: #444;  
        text-decoration: none;  
    }  
      
    header h2 {  
        font-size: 16px;  
        font-style: italic;  
        color: #999;  
    }  
      
    #main {  
        margin: 0 0 20px;  
    }  
      
    #add {  
        margin: 0 0 20px;  
    }  
      
    #add textarea {  
        height: 30px;  
        width: 510px;  
        padding: 10px;  
        border: 1px solid #ddd;  
    }  
      
    #add input {  
        height: 50px;  
        width: 100px;  
        margin: -50px 0 0;  
        border: 1px solid #ddd;  
        background: white;  
    }  
      
    #edit textarea {  
        height: 30px;  
        width: 480px;  
        padding: 10px;  
        border: 1px solid #ddd;  
    }  
      
    #edit input[type=submit] {  
        height: 50px;  
        width: 100px;  
        margin: -50px 0 0;  
        border: 1px solid #ddd;  
        background: white;  
    }  
      
    #edit input[type=checkbox] {  
        height: 50px;  
        width: 20px;  
    }  
      
    article {  
        border: 1px solid #eee;  
        border-top: none;  
        padding: 15px 10px;  
    }  
      
    article:first-of-type {  
        border: 1px solid #eee;  
    }  

    article:nth-child(even) {  
        background: #fafafa;  
    }  
      
    article.complete {  
        background: #fedae3;  
    }  
    
    table {
		table-layout: fixed;
        width: 96.9%; /*1170px;*/
    }
    
    th {
		font-size: 150%;
		vertical-align: bottom;
    }
    
    th a {
        text-decoration: none;
    }

    th.period_header {
    	vertical-align: middle;
    }
    
    td {
    	width: 5.1%; /* 95% / 19 cols 65px;*/
    	height: 80px;
        /*border: 1px solid black;  */
        text-align: center;
    }  

    td.inPTable {    
        border: 1px solid black;
    }  

    td.origin {    
        border: 5px solid yellow;
    }  

    td.inPTable a {    
        text-decoration: none;
    }  

	span.pt_atomic_num {
		font-size: 100%;
	}

	span.pt_symbol {
		font-size: 200%;
	}

	span.pt_name {
		font-size: 80%;
	}

	span.pt_e_config {
		font-size: 150%;
		font-weight: bold;
	}

	span.ec_base {
		color: red;
	}

	.diff_n {
		background-color: yellow;
		/*border: 1px solid green;*/
	}

	.diff_count {
		background-color: green;
	}

	.new_orbital {
		background-color: orange;
	}

	.highlighted {
		background-color: orange;
	}

    p {  
        margin: 0 0 5px;  
    }  
      
    .meta {  
        font-size: 0.8em;  
        font-style: italic;  
        color: #888;  
    }  
      
    .links {  
        font-size: 1.8em;  
        line-height: 0.8em;  
        float: rightright;  
        margin: -10px 0 0;  
    }  
      
    .links a {  
        display: block;  
        text-decoration: none;  
    }  