	body {  
		/*margin: 10px auto;  */
		margin-left: 10px;
		/*width: 640px;  */
	}  

	p {  
		margin: 0 0 5px;  
	}
	
	header {  
		text-align: center;  
		/*margin: 0 0 20px;*/
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
	}  

	header h1 {  
		display: inline;  
		font-size: 32px;
	}  
	  
	header h1 a:link, header h1 a:visited {  
		color: #444444;  
		text-decoration: none;  
	}  
	  
	header h2 {  
		font-size: 16px;  
		font-style: italic;  
		color: #999;  
	}  
	  
	#main {  
		margin: 0 0 20px;  
	}  
	  
	article {  
		border: 1px solid #eee;  
		border-top: none;  
		padding: 15px 10px;  
	}  
	  
	table {
		table-layout: fixed;
		width: 100%; /*1170px;*/
		margin-left: -15px;
	}
	
	th {
		font-size: 150%;
		vertical-align: bottom;
		/*border: 1px solid green;*/
		/*width: 65px; /*5.1%;*/
	}
	
	th a {
		text-decoration: none;
	}

	table.period {
		table-layout: auto;
	}

	th.period_header {
		vertical-align: middle;
		padding-right: 5px;
		/*width: 60px;*/
		/*border: 1px dashed red;*/
	}
	
	th.period_header_period {
		vertical-align: middle;
		padding-right: 10px;
	}
	
	.rotate { /* text rotated 90 degrees counterclockwise; using for "Period" at left of tables */
		/*float:left;*/
		/*border: 1px solid red; */ 
		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

	.period_word { /* for "Period" */
		/*font-size: 150%;
		font-weight: bold;
		color: #444; */
		/*vertical-align: middle;*/
		margin-top: -20px;
		/*float: left;*/
		/*width: 10px;*/
	}
	
	/*.no_above {
		margin-top: 5px;
	}*/
	
	table.element .period_word { /* for "Period" on element.erb */
		/*font-size: 150%;
		font-weight: bold;*/
		/*color: red;*/
		/*vertical-align: middle;*/
		margin-top: 20px;
		margin-right: -40px;
		/*float: left;*/
		/*width: 10px;*/
	}

	/*.period_labels_element { /* on element.erb */
		/*width: 1px;
		/*border: 1px solid blue;
	}*/

	th.period_labels_col { /* column for period labels */
		text-align: right;
		/*width: 25px;*/
		/*border: 1px solid red;*/
	}

	td {
		width: 5.1%; /* 95% / 19 cols 65px;*/
		height: 82px;
		/*border: 1px solid red;*/
		text-align: center;
	}  

	th.home_element {
		/*border: 3px solid black;*/
		/*width: 65px; /*5.1%;*/
	}
	
	a.nav { /* for navigation arrows adjacent to group or period numbers */
		/*border: 1px solid blue;*/
		font-size:200%;
		vertical-align: middle;
	}
	
	a.nav_period { /* for navigation arrows adjacent to group or period numbers */
		/*border: 1px solid blue;*/
		font-size:200%;
		/*vertical-align: middle;*/
		margin-right: -7px;
		line-height: 50%;
	}

	table#f_block { /* f-block table on home page (groups f1-f14, periods 6-7) */
		margin-top: 20px;
	}

	table.f_period {
		width: 150%; /*1170px;*/
	}
	
	table.f_period th {
		width: 65px;
	}

	table.home {
		table-layout: fixed;
		margin-left: -15px;
		/*width: 1170px; /*96.9%;*/
	}

	table.home .marker {
		text-align: right;
		font-size: 150%;
		/*color: #607890;*/
	}
	
	table.home th {
		font-size: 150%;
		vertical-align: bottom;
		height: 25px;
	}
	
	table.home th a {
		text-decoration: none;
	}

	table.home th.period_header {
		vertical-align: middle;
	}
	
	table.home td {
		/*width: 65px;*/
		/*height: 80px;*/
		/* border: 5px dashed green;  */
		text-align: center;
		word-wrap: break-word;
   	}  

	table.group {
		table-layout: auto;
		width: 25%;
	}

	table.group th {
		width: 0.1%;
	}

	table.group td {
		width: 23%;
	}

	.group_labels { /* group labels (e.g., 	⇐ 2 ⇒ ⇛ ) on group.erb */
		line-height:160%;
		/*border: 1px solid red;*/
	}
	
	/*table.f_period tr th:last-child {
		border-right: 50px dashed green;
		padding-right: 50px;
	}

	/*table.f_period {
		border: 5px solid red;
		margin-bottom: 50px;
	}*/

	table.element {
		table-layout: auto;
		width: 80%;
		margin-left: -60px;
	}	

	table.element th {
		width: 2%;
	}

	table.element left_col, table.element right_col {
		width: 25%;
	}	

	table.element td.origin_col {
		/*width: 50%;*/ // actually, leave this width unspecified so web browser will fill remaining space with it (widths for other cols are specified)
	}	

	td.inPTable {	
		border: 1px solid black;
	}  

	td.origin {	
		/*border: 5px solid yellow;*/
	}  

	td.inPTable a {	
		text-decoration: none;
	}  

	div.pt_atomic_num {
		font-size: 100%;
	}

	div.pt_symbol {
		font-size: 200%;
		line-height:85%;
		/*border: 1px dashed red;*/
	}

	div.pt_name {
		font-size: 73%;
		/*margin-top: 0 px;*/
	}

	.pt_density_g_per_cm3 sup { /* for superscript 3 in g/cm3 */
		top: +0.2em;
	}
	div.narrow { /* for narrow table cells: home and period pages */
		font-size: 100%; /*150%;*/
		/*font-weight: bold;*/
	}

	div.narrow sup { /* for superscripts in narrow table cells (home and period) */
		/*font-size: 50%; */
		top: +0.0em;
		/*background-color: red;*/
	}

	div.wide { /* for wide table cells: group and element pages */
		font-size: 150%;
		/*font-weight: bold;*/
	}

	div.wide sup { /* for superscripts in wide table cells (group and element), make text bigger so easier to read */
		font-size: 65%;
		top: +0.2em;
		/*background-color: green;*/
	}

	sup.pointer { /* for 5-pointed star superscripts on Ba and Ra, pointing to lanthanides and actinides respectively */
		/*font-size: x-small;*/
		font-size: 40%;
		top: +0.05em;
	}

	span.ec_base {
		/*color: red;*/
	}

	/* Highlighting for similar but differing electron configuration terms between elements */ 
	.diff_n {
		background-color: yellow;
		/*border: 1px solid green;*/
	}

	.diff_count {
		background-color: lightgreen;
	}

	.new_orbital {
		background-color: orange;
	}

	/* Debugging */
	.highlighted {
		background-color: orange;
	}