/* GLOBAL */
	body {  
		/*margin: 10px auto;  */
		margin-left: 10px;
		/*width: 640px;  */
	}  

	p {  
		margin: 0 0 5px;  
	}

	a.nav { /* for navigation arrows adjacent to group or period numbers */
		/*border: 1px solid blue;*/
		/*font-size:200%;*/
		/*vertical-align: middle;*/
		padding-left: 10px;
		padding-right: 10px;
	}
	
	a.nav_period { /* for navigation arrows adjacent to group or period numbers */
		/*border: 1px solid blue;*/
		/*font-size:200%;*/
		/*margin-right: -7px;*/
		/*line-height: 50%;*/
		/*padding-top: 20px;*/
	}
	
	header {  
		text-align: center;  
		/*margin: 0 0 20px;*/
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 0px;
		margin-bottom: 5px;
	}  

	header h1 {  
		display: inline;  
		font-size: 32px;
	}  
	  
	header h1 a:link, header h1 a:visited {  
		color: #444444;  
		text-decoration: none;  
	}  
	  
	header h2 {  
		font-size: 16px;  
		font-style: italic;  
		color: #999;  
	}  
	  
	#main {  
		margin: 0 0 20px;  
	}  
	  
	article {  
		border: 1px solid #eee;  
		border-top: none;  
		padding: 15px 10px;  
	}  
	  
	.hidden {
		visibility: hidden;
	}	  

	.rotate { /* text rotated 90 degrees counterclockwise; using for "Period" at left of tables */
		z-index: -50; /* Send behind other HTML items so its false (unrotated) position doesn't cover other items */
		/* Safari */
		-webkit-transform: rotate(-90deg);

		/* Firefox */
		-moz-transform: rotate(-90deg);

		/* IE */
		-ms-transform: rotate(-90deg);

		/* Opera */
		-o-transform: rotate(-90deg);

		/* Internet Explorer */
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	}

	/* Debugging */
	.highlighted {
		background-color: orange;
	}
	
/* TABLE -- GENERIC */	
	table {
		table-layout: fixed;
		/*width: 100%; /*1170px;*/
		margin-left: -25px;
		margin-right: 5px;
	}

	td {
		width: 5.1%; /* 95% / 19 cols 65px;*/
		height: 82px;
		/*border: 1px solid red;*/
		text-align: center;
	}  

	
	th {
		font-size: 150%;
		vertical-align: bottom;
		/*border: 1px solid green;*/
		/*width: 65px; /*5.1%;*/
	}
	
	th a {
		text-decoration: none;
	}

	th.period_header {
		vertical-align: middle;
		padding-right: 5px;
		/*width: 60px;*/
		/*border: 1px dashed red;*/
	}
	
	th.period_header_period {
		vertical-align: middle;
		padding-right: 10px;
	}

	th.period_word { /* for "Period" */
		width: 20px;
		position: relative;
		/*font-size: 150%;
		font-weight: bold;
		color: #444; */
		/*vertical-align: middle;*/
		/*margin-top: -20px;*/
		/*padding-left: 0px; /*-20px;*/
		/*float: left;*/
	}

	td.inPTable {	
		border: 1px solid black;
	}  

	td.inPTable a {	
		text-decoration: none;
	}  

	div.pt_atomic_num {
		font-size: 100%;
	}

	div.pt_symbol {
		font-size: 200%;
		line-height:95%;
		margin-top: -2px;
		margin-bottom: 2px;
		/*border: 1px dashed red;*/
	}

	div.pt_name {
		font-size: 73%;
		/*margin-top: 0 px;*/
	}

	.pt_density_g_per_cm3 sup { /* for superscript 3 in g/cm3 */
		top: +0.2em;
	}

/* NARROW-CELL PAGES (HOME AND PERIOD) */
	div.narrow { /* for narrow table cells: home and period pages */
		font-size: 100%; /*150%;*/
		/*font-weight: bold;*/
	}

	div.narrow sup { /* for superscripts in narrow table cells (home and period) */
		/*font-size: 50%; */
		top: +0.0em;
		/*background-color: red;*/
	}

/* HOME PAGE */
	table.home th.period_word {
		vertical-align: middle;
		padding-top: 60px; /* this is really left padding because rotated 90deg */
	}

	th.home_element {
		/*border: 3px solid black;*/
		/*width: 65px; /*5.1%;*/
	}
	
	.f_group_labels {
		padding-top: 30px;
	}
	
	table.home {
		table-layout: fixed;
		margin-left: -65px;
		/*width: 1170px; /*96.9%;*/
	}

	table.home .marker {
		text-align: right;
		font-size: 150%;
		/*color: #607890;*/
	}
	
	table.home th {
		font-size: 150%;
		vertical-align: bottom;
		height: 25px;
	}
	
	table.home th a {
		text-decoration: none;
	}

	table.home th.period_header {
		vertical-align: middle;
		width: 10px;
	}
	
	table.home td {
		/*width: 65px;*/
		/*height: 80px;*/
		/* border: 5px dashed green;  */
		text-align: center;
		word-wrap: break-word;
   	}  

	sup.pointer { /* for 5-pointed star superscripts on Ba and Ra, pointing to lanthanides and actinides respectively */
		/*font-size: x-small;*/
		font-size: 40%;
		top: +0.05em;
	}

/* PERIOD PAGE */
	table.period {
		/*border: 2px dashed red;*/
		table-layout: auto;
		margin-left: -50px;
	}

	table.period .period_word {
		padding-bottom: 10px;
		/*position: relative;*/
	}

	table.period th.period_labels_col { /* column for period labels */
		text-align: right;
		width: 0.2%;
		/*color: red;*/
		/*border: 1px solid red;*/
	}

	/*.no_above {
		margin-top: 5px;
	}*/

	table.f_period {
		width: 200%; /*1170px;*/
	}
	
	table.f_period th, table.f_period td {
		width: 65px;
	}

/* WIDE-CELL PAGES (GROUP AND ELEMENT) */
	div.wide { /* for wide table cells: group and element pages */
		font-size: 150%;
		/*font-weight: bold;*/
	}

	div.wide sup { /* for superscripts in wide table cells (group and element), make text bigger so easier to read */
		font-size: 65%;
		top: +0.2em;
		/*background-color: green;*/
	}

/* ELEMENT PAGE */
	table.element {
		table-layout: fixed;
		/*width: auto;*/
		margin-left: -220px;
	}	

	table.element .period_word { /* for "Period" on element.erb */
		/*font-size: 150%;
		font-weight: bold;*/
		/*color: red;*/
		/*margin-top: 20px;*/
		/*margin-right: -40px;*/
		/*float: left;*/
		/*width: 10px;*/
		/*vertical-align: center;*/
		/*padding-left: 30px;*/ /* this is really left padding because rotated 90deg */
		/*margin-right: 30px;*/
		/*margin-left: 30px;*/
		padding-right: 100px;
		width: 2.0%;
		text-align: right;
	}

	/*.period_labels_element { /* on element.erb */
		/*width: 1px;
		/*border: 1px solid blue;
	}*/

	table.element th.period_labels_col { /* column for period labels */
		text-align: right;
		width: 0.2%;
		/*border: 1px solid red;*/
	}

	table.element th {
		/*width: 2%;*/
	}

	table.element td {
		/*border: 1px dashed green;*/
	}

	table.element left_col, table.element right_col {
		width: 25%;
		color: red;
	}	

	table.element td.origin_col {
		/*width: 50%; actually, leave this width unspecified so web browser will fill remaining space with it (widths for other cols are specified) */
		padding: 5px;
	}	

	td.adj { /* adjacent element cells on element.erb */
		padding: 5px 5px 75px 5px !important;
		/* padding-bottom: 75px !important; */
	}
	
	/* Highlighting for similar but differing electron configuration terms between elements */ 
	.diff_n {
		background-color: yellow;
		/*border: 1px solid green;*/
	}

	.diff_count {
		background-color: lightgreen;
	}

	.new_orbital {
		background-color: orange;
	}

/* GROUP PAGE */
	table.group {
		table-layout: auto;
		width: 25%;
		margin-left: -40px;
	}

	table.group th {
		width: 0.1%;
	}

	table.group td {
		width: 23%;
	}

	.group_labels { /* group labels (e.g., 	⇐ 2 ⇒ ⇛ ) on group.erb */
		line-height:160%;
		/*border: 1px solid red;*/
	}
	
	table.group th.period_word {
		vertical-align: middle;
		padding-top: 40px; /* this is really left padding because rotated 90deg */
	}

