<% element_num = 5 %>
<h1>Data Mapper</h1>
<%# element = Element.get(element_num) %>

<p><%#= element.symbol %></p>
<p><%#= element.name %></p>

<h1>ActiveRecord from .rb</h1>

<p><%#= @elementAR.symbol %></p>
<p><%#= @elementAR.name %></p>

<h1>ActiveRecord from .erb</h1>

	<% @elementAR2 = Element.find(2) %>
<p><%= @elementAR2.symbol %></p>
<p><%= @elementAR2.name %></p>